body {
  margin: 0;
  min-width: 960px;
  font-family: "Blackadder ITC", "Algerian";
  font-size: 29px;
  line-height: 42px;
  color: #000000;
  background-image: url("img/background.jpg") ;
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center center;
  background-attachment: fixed;  
}

.choice_2 {
  display:grid;
  justify-content:space-around;
  grid-template-columns:1fr 1fr;
  padding: 10px 190px;
  text-align: center;
}
.choice_3 {
  display:grid;
  justify-content:space-around;
  grid-template-columns:1fr 1fr 1fr;
  padding: 10px 190px;
  text-align: center;
}
.choice_1{
  text-align: center;
}
main{
  padding: 0;
  margin: 15px 40px;
}
.title{
  color: rgb(0, 0, 0);
}
header{
  height: 50px;
  padding: 10px 20px;
  display: flex; 
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}
.mainlist{
  margin: 5px 0px 20px 35px;
}
.final{
  font-size: 40px;
  color: rgb(37, 0, 68);
}
.replay{
  margin: 0px 20px;
}
.page-footer{
  color:white;
  background-color:black;
}
.page-footer .conteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}